.Toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50px;
    padding-top: 14px;
    z-index: 300;
    display: none;
}

.Toolbar > div {
    display: flex;
    flex-direction: column;
}

.Toolbar .icon {
    fill: #ADADAD;
    width: 32px;
    height: 32px;
    margin-bottom: 18px;
    cursor: pointer;
}

.Toolbar .icon.active {
    fill: white;
}
